# required
VITE_GIST_ID_EN=your_english_gist_id
VITE_GIST_ID_FR=your_french_gist_idw
# optional
VITE_RESUME_NAME=John Doe
VITE_DOCUMENT_TITLE=John Doe
VITE_DOCUMENT_LANG=en
VITE_TELEMETRY_URL=https://yolofunyolo.provider.co/functions/v1/resume-telemetry
VITE_TELEMETRY_HEADER_KEY=sb_publishable_789456123_000