# required
VITE_GIST_ID_EN=7c7779fdcb38c4f92847c08433b90016
VITE_GIST_ID_FR=de39d45ad2ff4fadf7c6243e2d299c23
# optional
VITE_RESUME_NAME=John Doe
VITE_DOCUMENT_TITLE=DOE Resume
VITE_DOCUMENT_LANG=en
VITE_TELEMETRY_URL=https://yolofunyolo.provider.co/functions/v1/resume-gist
VITE_TELEMETRY_HEADER_KEY=sb_publishable_789456123_000